/* Import the necessary fonts and styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import '../style/styles.css';

/* Base styling for the forgot password page */
.forgot-password-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-text-light);
    font-family: 'Roboto Mono', monospace;
}

/* Card-like container */
.forgot-password-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    padding: var(--spacing-xl);
    background-color: var(--color-secondary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    gap: var(--spacing-lg);
    box-sizing: border-box;
    margin: var(--spacing-md);
}

/* Title styling */
.forgot-password-title {
    font-family: 'Roboto Mono', monospace;
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    margin-bottom: var(--spacing-lg);
}

/* Form group styling */
.forgot-password-form-group {
    margin-bottom: var(--spacing-lg);
}

.forgot-password-form-group label {
    display: block;
    color: var(--color-text-muted);
    font-size: var(--font-size-md);
    margin-bottom: var(--spacing-xs);
}

.forgot-password-form-group input {
    width: 90%;
    padding: var(--spacing-md);
    background-color: var(--color-quaternary);
    border: 1px solid var(--color-quinary);
    border-radius: 4px;
    color: var(--color-text-light);
}

/* Button styling */
.cta-button {
    padding: var(--spacing-md);
    background-color: var(--color-primary);

    /* Ensure text color is white */
    font-size: var(--font-size-lg);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: var(--color-primary-light);
    transform: translateY(-2px);
}

/* Error and success messages */
.error {
    color: var(--color-error);
    font-size: var(--font-size-md);
}

.success {
    color: var(--color-success);
    font-size: var(--font-size-md);
}

/* Link styling */
.forgot-password-link,
.back-signin-button {
    font-size: var(--font-size-md);
    color: var(--color-primary);

    transition: color 0.2s;
}

.forgot-password-link:hover,
.back-signin-button:hover {
    color: var(--color-primary-light);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .forgot-password-container {
        padding: var(--spacing-md);
        margin: var(--spacing-sm);
    }
}