/* Gallery Section */
.gallery {
    padding: var(--spacing-xxl) var(--spacing-lg);
    background-color: var(--color-background);
    color: var(--color-text-light);
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    margin: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-lg);
}

.back-button {
    background: none;
    border: none;
    color: var(--color-primary);
    font-size: var(--font-size-md);
    cursor: pointer;
    padding: var(--spacing-sm);
}

.back-button:hover {
    text-decoration: underline;
}

.gallery-title {
    font-family: 'Roboto Mono', monospace;
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
}

.gallery-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--spacing-lg);
    margin-bottom: var(--spacing-lg);
}

.gallery-card {
    background: var(--color-secondary);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-light);
    cursor: pointer;
    transition: transform 0.2s;
    aspect-ratio: 1;
    /* Ensures the containers are square */
}

.gallery-card:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow-medium);
}

.gallery-image {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-light);
    object-fit: cover;
}

.gallery-modal {
    background: var(--color-background);
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    box-shadow: var(--shadow-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-image {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-medium);
    margin-bottom: var(--spacing-lg);
}

.image-description {
    font-size: var(--font-size-md);
    color: var(--color-text-dark);
    text-align: center;
}

.modal-close-button {
    background: var(--color-primary);
    color: var(--color-background);
    border: none;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--font-size-md);
    margin-top: var(--spacing-lg);
}

@media (max-width: 768px) {
    .gallery-content {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .gallery-card {
        aspect-ratio: 1;
        /* Ensures the containers are square */
    }
}